::ng-deep .img-poster {
  width: 15rem;
  height: 22.5rem;
  object-fit: cover;
}

::ng-deep .p-dataview-content {
  & a {
    color: var(--p-dataview-content-color);
  }
}

// Flips carousel arrows when the language is hebrew
::ng-deep html.lang-he p-button.p-ripple:first-child,
::ng-deep html.lang-he p-button.p-ripple:last-child {
  transform: scaleX(-1);
}

