<p-dialog header="Search for films or TV shows:" [modal]="true" [(visible)]="isSearchVisible" [style]="{ width: '90%', height: '90%', opacity: '90%' }" dismissableMask>
  <section class="">
    <div class="flex justify-center gap-4 mb-4">
      <p-inputgroup styleClass="lg:!w-[60%]">
        <ng-container *ngIf="!isSmallScreen(); else mobileSelectMenu">
          @for (option of mediaOptions; track option) {
            <p-inputgroup-addon>
              <p-radioButton name="mediaType" value="{{option.mediaType}}" [(ngModel)]="selectedOption" inputId="{{option}}" (click)="searchItem(searchInput.value, option.mediaType)"/>
              <label for="{{option}}" class="ml-2">{{option.name}}</label>
            </p-inputgroup-addon>
          }
        </ng-container>

        <ng-template #mobileSelectMenu>
          <p-select styleClass="max-w-36" class="media-select-wrapper" [(ngModel)]="selectedOption" [options]="mediaOptions" optionLabel="name" placeholder="Everything" (onChange)="searchItem(searchInput.value, selectedOption.mediaType)"/>
        </ng-template>

        <input
          type="text"
          #searchInput
          pInputText
          placeholder="Search"
          id="search-term"
          class="flex-auto h-14 text-2xl"
          style="font-family: Poppins, 'Helvetica Neue', sans-serif"
          autocomplete="off"
          autofocus
          (keyup)=onSearchInputChange(searchInput.value)
        />
        <p-inputgroup-addon>
          <p-button icon="pi pi-times" severity="secondary" styleClass="!bg-transparent !border-none" (click)="searchInput.value = ''" />
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
  </section>


  <section class="table-wrapper flex justify-center min-h-96">
    <div class="card w-[95%]">
      <p-dataView [value]="searchResults()" emptyMessage=" ">
        <ng-template pTemplate="list" let-searchResults>
          <div class="grid grid-cols-12 gap-4 grid-nogutter">
            <div class="col-span-12" *ngFor="let item of searchResults; let first = first">
                <div
                  class="table-item-wrapper flex flex-row sm:items-center p-0 lg:p-6 gap-4  transition"
                  [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
                >
                    <div class="w-[36px] lg:w-[92px] relative">
                      <a class="no-underline" [routerLink]="item | itemUrl" (click)="isSearchVisible.set(false)">
                        <img
                          class="block xl:block mx-auto rounded-border w-full"
                          src="{{(item.poster_path | posterUrl: 0) || 'assets/placeholder-images/poster-md.jpg'}}"
                          [alt]="item.title || item.name"
                        />
                      </a>
                    </div>
                    <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 lg:gap-6">
                      <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                        <div>
                          <div class="text-lg font-bold mt-2">
                            <a class="no-underline hover:text-primary transition" [routerLink]="item | itemUrl" (click)="isSearchVisible.set(false)">
                              {{ item.title || item.name}}
                              <ng-container *ngIf="item.release_date || item.first_air_date">
                                ({{ item.release_date || item.first_air_date | date: 'yyyy' }})
                              </ng-container>
                            </a>
                          </div>
                          <span *ngIf="!isSmallScreen()" class="font-medium text-secondary text-sm" ><i>{{ item.overview }}</i></span>
                        </div>
                      </div>
                      <div class="flex flex-col md:items-end gap-8">
                        <!--suppress CssUnresolvedCustomProperty -->
                        <span class="font-semibold text-sm capitalize w-[60px]" style="color: var(--p-surface-400)">{{ item.mediaType === MediaType.Film ? 'Film' : 'TV Show' }}</span>
                      </div>
                    </div>
                </div>
                <p-divider styleClass="mt-2 lg:mt-6" />
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </section>
</p-dialog>
