<div class="profile-header-wrapper grid grid-flow-col rounded">
  <div class="col-span-2  flex flex-row mb-4 border-2 border-solid rounded items-baseline p-4">
      <h1 class="text-6xl">Roman123</h1>
      <span class="text-surface-400">Joined December 2024</span>
  </div>

  <div class="flex flex-row items-baseline gap-2">
    <h1 class="text-7xl">3</h1>
    <span>Ratings Given</span>
  </div>
  <div class="flex flex-row items-baseline gap-2">
    <h1 class="text-7xl">2</h1>
    <span>Reviews Written</span>
  </div>
</div>
