<main>
  <div class="filter-wrapper grid grid-rows-4 lg:grid-rows-1 lg:grid-cols-11 m-auto max-w-screen-xl gap-4 lg:p-4 lg:mt-6 lg:mb-6 justify-center">
    <div  class="col-span-1 hidden lg:block">
      <p>Filters:</p>
    </div>

    <div class="year-filter-wrapper col-span-2 xl:col-span-3">
      <p-iftalabel class="w-full ">
        <p-select [(ngModel)]="selectedYear" inputId="dd-mediaType" [options]="years" [showClear]="true" styleClass="w-full" (onClear)="lib.removeDateFilter()" />
        <label>Year</label>
      </p-iftalabel>
    </div>

    <div class="genre-filter-wrapper col-span-2 xl:col-span-3 ">
      <p-iftalabel class="w-full ">
        <p-select [(ngModel)]="selectedGenre" inputId="dd-mediaType" [options]="genres()" [showClear]="true" styleClass="w-full" (onClear)="lib.removeGenreFilter()" />
        <label>Genre</label>
      </p-iftalabel>
    </div>

    <div class="rating-filter-wrapper col-span-2 grid grid-rows-2 grid-flow-col m-auto p-1">
      <div class="slider-top-wrapper col-span-2 flex ">
        <!--suppress CssUnresolvedCustomProperty -->
        <label class=" ml-1" style="color: var(--p-form-field-float-label-color);">Rating Range: <b>{{ratingRangeValues[0].toPrecision(2)}}</b> - <b>{{ratingRangeValues[1].toPrecision(2)}}</b></label>
      </div>
      <div class="col-span-2 flex">
        <p-slider class="w-11/12" [(ngModel)]="ratingRangeValues" [range]="true" [min]="0.0" [max]="10.0" step="0.1" styleClass="mt-2 ml-3" />
      </div>
<!--      <div class="row-span-2 self-center mr-1">-->
<!--        <p-button icon="pi pi-filter" title="Update List" size="small" raised (onClick)="lib.filterByRating(rangeValues[0],rangeValues[1])"></p-button>-->
<!--      </div>-->
    </div>

    <div class="clear-btn-wrapper m-auto  col-span-1 ">
      <p-button icon="pi pi-times" title="Clear Filters" label="Clear" (click)="clearAllFilters()" rounded raised />
    </div>
    <div class="apply-btn-wrapper m-auto col-span-1 ml-3">
      <p-button icon="pi pi-filter" title="Apply Filters" label="Apply" (click)="applyFilters()" rounded raised />
    </div>
  </div>
</main>
