<div class="content">
    <p-menubar class="menu-bar" styleClass="!border-0 !rounded-none" >
      <ng-template pTemplate="start">
        <img class="w-1/12 mr-2 cursor-pointer" src="assets/logo.png" routerLink="/pages/home" alt="film planet logo">
        <p-button class="search-btn" icon="pi pi-search" size="large" [rounded]="true" [text]="true" (onClick)="isSearchVisible = true" />

        <p-dialog header="Search for films or TV shows:" [modal]="true" [(visible)]="isSearchVisible" [style]="{ width: '60%', opacity: '90%' }" dismissableMask>
          <div class="flex justify-center gap-4 mb-4">
            <input
              #searchInput
              pInputText
              id="search-term"
              class="flex-auto h-14 text-2xl"
              style="font-family: Poppins, 'Helvetica Neue', sans-serif"
              autocomplete="off"
              (keydown.enter)=searchItem(searchInput.value)
            />
          </div>
          <div class="flex justify-end gap-2">
            <p-button label="Search" (click)="searchItem(searchInput.value)" />
          </div>
        </p-dialog>

<!--        PROGRAMMATIC TEMPLATE      -->
        @for (item of menuOptions; track item;) {
          @if (!item.items.length) {
            <a [routerLink]="item.route"><p-button [label]="item.label" text /></a>
          }
          @else {
            <p-splitButton [label]="item.label" [model]="item.items" (onClick)="navigate(item.route)" text severity="secondary"/>
          }
        }

      </ng-template>
      <ng-template pTemplate="end">
        <div class="flex items-center gap-6">
          <a class="signup-login-link" routerLink="/signup">Sign Up</a>
          <p-toggleswitch class="mt-2" [(ngModel)]="isDarkModeEnabled" title="Toggle Dark Mode" (onChange)="toggleDarkMode()"></p-toggleswitch>
          <p-select
            styleClass="!text-base !shadow-none !bg-transparent"
            [options]="languages"
            [(ngModel)]="selectedLanguage"
            optionLabel="name"/>
        </div>

      </ng-template>
    </p-menubar>

</div>

