<div class="content">
  <p-menubar class="menu-bar" styleClass="!border-0 !rounded-none" >
    <ng-template pTemplate="start">
      <img class="w-1/12 mr-2 cursor-pointer" src="assets/logo.png" routerLink="/pages/home" alt="film planet logo">
      <p-button
        class="search-btn"
        icon="pi pi-search"
        size="large"
        [rounded]="true"
        [text]="true"
        pTooltip="Search"
        i18n-pTooltip="@@menu.searchTooltip"
        showDelay="400"
        tooltipPosition="bottom"
        (onClick)="isSearchVisible = true" />

      <app-search-window [(isSearchVisible)]="isSearchVisible"></app-search-window>

      <!--        PROGRAMMATIC TEMPLATE      -->
      @for (item of menuOptions; track item;) {
        @if (!item.items.length) {
          <a [routerLink]="item.route"><p-button [label]="item.label" text /></a>
        }
        @else {
          <p-splitButton [label]="item.label" [model]="item.items" (onClick)="navigate(item.route)" text severity="secondary"/>
        }
      }

    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex items-center gap-6">
        <a class="signup-login-link" i18n="@@menu.signUpBtn" routerLink="/signup">Sign Up</a>
        <p-toggleswitch
          class="mt-2"
          [(ngModel)]="isDarkModeEnabled"
          pTooltip="Toggle Dark Mode"
          i18n-pTooltip="@@menu.toggleDarkModeTooltip"
          showDelay="400"
          tooltipPosition="bottom"
          (onChange)="toggleDarkMode()"></p-toggleswitch>
        <p-select
          [options]="languages"
          [(ngModel)]="selectedLanguage"
          optionLabel="name"
          placeholder="Select a country"
          class="w-full md:w-32">

          <!--          Currently selected option-->
          <ng-template pTemplate="selectedItem" let-selectedLanguage>
            <div class="flex items-center gap-2" *ngIf="selectedLanguage">
              <img
                [src]="selectedLanguage.flag_img"
                [class]="'flag flag-' + selectedLanguage.name"
                style="width: 18px"
              />
              <div>{{ selectedLanguage.name }}</div>
            </div>
          </ng-template>

          <!--      Dropdown options    -->
          <ng-template pTemplate="item" let-country>
            <div class="flex items-center gap-2">
              <img
                [src]="country.flag_img"
                [class]="'flag flag-' + country.name"
                style="width: 18px"
              />
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-select>

      </div>

    </ng-template>
  </p-menubar>

</div>
