<div class="user-auth-wrapper flex items-center" dir="rtl">
  <p-toast position="bottom-right" />

  <div *ngIf="authService.isLoggedIn()" class="card flex justify-center" dir="auto">
    <p-menu #menu [model]="profileMenuItems" [popup]="true">
      <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else logoutTemplate">
          <a [routerLink]="item.route" class="p-menu-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #logoutTemplate>
          <a (click)="authService.logout()" class="p-menu-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-template>
      </ng-template>
    </p-menu>

    <p-button (click)="menu.toggle($event)" styleClass="!w-[115%]" [rounded]="true" [label]="authService.userData().firstName || authService.userData().username[0]"/>
  </div>

  <p-button *ngIf="!authService.isLoggedIn()" class="signup-link" styleClass="!text-[1.4rem]" [routerLink]="['/','pages','register']" label="Create Account" [text]="true" size="large" />
  <p-button *ngIf="!authService.isLoggedIn()" class="signup-login-link" styleClass="!text-[1.4rem]" (click)="loginPopover.toggle($event)" label="Sign In" [text]="true" size="large" />
  <p-popover #loginPopover>
    <div class="flex flex-col gap-4 w-[25rem]">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div dir="ltr" class="font-medium block">
          <div class="flex justify-end">
            <p-button icon="pi pi-times" [rounded]="true" [text]="true" (click)="loginPopover.hide()"/>
          </div>
          <span class="mb-2">Username</span>
          <input pInputText class="w-[25rem] mb-4" formControlName="username" pAutoFocus="true" />
          <span class="mb-2">Password</span>
          <p-password [toggleMask]="true" fluid styleClass="!mb-4" feedback="false" formControlName="password" />
          <div class="flex justify-end">
            <p-button type="submit" [label]="isLoading() ? '' : 'Login'" [icon]="isLoading() ? 'pi pi-spin pi-spinner' : ''"></p-button>
          </div>
        </div>
      </form>

    </div>
  </p-popover>
</div>
