.main-details-wrapper {
  grid-template-rows: 0.5fr 0.35fr 1fr 0.25fr 0.25fr 1fr;
  grid-template-columns: 350px 1fr 1fr 1fr;
}

::ng-deep .media-buttons .p-button-label {
  font-size: 20px;
}

::ng-deep .p-tablist-content .p-tablist-tab-list  {
  background: var(--p-neutral-900);
}

::ng-deep .p-tablist-tab-list .p-tab:not(.p-tab-active):not(.p-disabled):hover {
  color: var(--p-primary-color);
}

::ng-deep .p-panel .p-panel-header:hover {
  color: var(--p-primary-color);
  transition: 0.3s;
  cursor: pointer;
}
