<main>
  <div class="item-wrapper flex flex-col w-11/12 m-auto mt-6">
    <section class="main-content-wrapper grid  grid-cols-4 grid-flow-col gap-x-4">
      <div class="poster-wrapper row-span-6">
        <img alt="Poster" class="w-full"  [src]="item().image" />
      </div>
      <div class="title-wrapper col-span-2 row-span-2 flex  items-center">
        <h1 class="text-5xl">
          <b>{{item().title}}</b>
          <span class="text-surface-400"> ({{releaseYear()}})</span></h1>
      </div>
      <div class="genres-wrapper col-span-2 flex items-center">
        <div class="genres-wrapper col-span-2">{{itemGenres().join(", ")}}</div>
      </div>
      <div class="overview-wrapper col-span-2"><b>Overview: </b> {{item().overview}}</div>
      <div class="starring-wrapper col-span-2 flex items-center"><b>Starring: </b> {{item().starring.join(", ")}}</div>
      <div class="directors-creators-wrapper col-span-2 flex items-center">
        <p><b>{{item().mediaType === MediaType.Film ? 'Directed by: ' : 'Created by: '}}</b> {{item().directors?.join(", ") || item().creators?.join(", ") }}</p>
      </div>
      <div class="rating-wrapper text-5xl flex flex-row gap-2 items-center justify-end col-span-1">
        <i class="pi pi-star-fill" style="font-size: 2.5rem; color: gold"></i>
        <p>{{item().rating}}</p>
      </div>
    </section>

<!--    <section class="secondary-content-wrapper grid grid-cols-3">-->
<!--      <div class="secondary-content-left-side grid-rows-2">-->
<!--        <div class="genres-wrapper">{{itemGenres().join(", ")}}</div>-->
<!--        <div class="directors-creators-wrapper">-->
<!--          <p>{{item().mediaType === MediaType.Film ? 'Directed by: ' : 'Created by: '}} {{item().directors?.join(", ") || item().creators?.join(", ") }}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="secondary-content-right-side">-->
<!--        <button>Videos</button>-->
<!--        <button>Images</button>-->
<!--      </div>-->
<!--    </section>-->
<!--    <section class="full-cast-wrapper">-->

<!--    </section>-->
<!--    <section class="reviews-wrapper">-->

<!--    </section>-->
<!--    <section class="episodes-wrapper">-->

<!--    </section>-->
  </div>
</main>
