<main>
  <div class="item-wrapper flex flex-col w-10/12 m-auto mt-6">
    <section class="main-content-wrapper grid grid-flow-col gap-x-4">
      <div class="poster-wrapper row-span-6">
        <img alt="Poster" class="w-full"  [src]="item().image" />
      </div>
      <div class="title-wrapper col-span-2  flex  items-center">
        <h1 class="text-5xl">
          <b>{{item().title}}</b>
          <span class="text-surface-400"> ({{releaseYear()}})</span></h1>
      </div>
      <div class="genres-wrapper col-span-2 flex items-center">
        <div class="genres-wrapper col-span-2">{{itemGenres().join(", ")}}</div>
      </div>
      <div class="overview-wrapper col-span-2"><b>Overview: </b> {{item().overview}}</div>
      <div class="starring-wrapper col-span-2 flex items-center">
        <p>
          <b>Starring:</b>
          @for (actor of item().starring; track actor) {
            <p-button [label]="actor" [link]="true" [routerLink]="['/pages/library/film/popular']" />
          }
      </div>
      <div class="directors-creators-wrapper col-span-2 flex items-center">
        <p><b>{{item().mediaType === MediaType.Film ? 'Directed by: ' : 'Created by: '}}</b>
        @for (person of item().directors || item().creators; track person) {
          <p-button [label]="person" [link]="true" [routerLink]="['/pages/library/film/popular']" />
        }
      </div>
      <div class="media-buttons-wrapper flex justify-end col-span-3">
        <div class="media-buttons flex gap-4">
          <p-button class="flex" styleClass="w-52" label="Videos" iconPos="top">
            <span class="pi pi-youtube" style="font-size: 2.5rem;"></span>
          </p-button>
          <p-button class="flex" styleClass="w-52" label="Images" iconPos="top">
            <span class="pi pi-image" style="font-size: 2.5rem;"></span>
          </p-button>
        </div>
      </div>
      <div class="rating-wrapper flex flex-col items-end justify-center mt-7  ">
        <div class="rating-num flex gap-2 text-5xl -mb-4">
          <i class="pi pi-star-fill" style="font-size: 2.5rem; color: gold"></i>
          <span><b>{{item().rating}}</b></span>
        </div>
        <p>5000 Ratings</p>
      </div>
    </section>

    <section class="reviews-wrapper">
      <div class="reviews-header"><h1>Reviews:</h1></div>
      <p *ngIf="reviews()">There are no reviews for this title yet.</p>

      @for (review of reviews(); track review) {
        <p>review</p>
      }
    </section>

    <section class="seasons-wrapper" *ngIf="seasons()">
      <h1>Seasons:</h1>
      @for (season of seasons(); track season) {
        <p>{{season.name || 'Season One'}}</p>
      }
    </section>
  </div>
</main>
