.right-content a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--primary-color);

  &:hover {
    color: var(--p-primary-color);
    transition: color 0.2s;
  }
}

::ng-deep .film_planet-dark {
  & .footer-wrapper { background: var(--p-surface-900); }
  @apply text-white;
}

i:hover {
  color: var(--p-primary-color);
  transition: color 0.2s;
  cursor: pointer;
}
