<div class="footer-wrapper grid grid-cols-3 content-center p-6">
  <div class="left-content flex flex-row items-center gap-4">
    <div class="text">
      Film Planet  © 2024 R.G.
    </div>
    <div class="icons-wrapper flex gap-4">
      <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
      <i class="pi pi-twitter" style="font-size: 1.5rem"></i>
      <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
      <i class="pi pi-envelope" style="font-size: 1.5rem"></i>
    </div>
  </div>
  <div class="right-content col-start-3 flex flex-row items-center gap-4 justify-end">
    <a class="privacy-policy-link" routerLink="/privacypolicy">Privacy Policy</a>
    <a class="contact-link" routerLink="/contact">Contact</a>
  </div>
</div>
