<main>
  <div class="flex flex-col m-auto gap-4  mt-[5rem] w-[25rem]">
    <p-toast position="bottom-right" />
    <p-card>
      <h1 class="text-center">Create Account</h1>
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="flex flex-col gap-12" >
          <div formGroupName="usernameAndEmail" class="flex flex-col gap-8">
            <p-floatlabel >
              <input id="username" pInputText fluid pAutoFocus="true" formControlName="username" />
              <label for="username">Username</label>
            </p-floatlabel>

            <p-floatlabel >
              <input id="email" pInputText fluid  formControlName="email" />
              <label for="email">Email</label>
            </p-floatlabel>
          </div>

          <div formGroupName="passwordAndConfirmation" class="flex flex-col" >
            <p-floatlabel>
              <p-password id="password" pInputText fluid feedback="false" [toggleMask]="true" formControlName="password" />
              <label for="password">Password (6 characters minimum)</label>
            </p-floatlabel>

            <p-floatlabel>
              <input id="confirmPassword" pInputText fluid type="password" formControlName="confirmPassword" />
              <label for="confirmPassword">Confirm Password</label>
            </p-floatlabel>
          </div>

          <div formGroupName="fullName" class="flex flex-col gap-8">
            <p-floatlabel >
              <input id="firstName" pInputText fluid formControlName="firstName" />
              <label for="username">First Name (optional)</label>
            </p-floatlabel>

            <p-floatlabel >
              <input id="lastName" pInputText fluid formControlName="lastName" />
              <label for="username">Last Name (optional)</label>
            </p-floatlabel>
          </div>

          <div class="flex justify-center">
            <p-button type="submit" size="large" label="Create" [icon]="isLoading() ? 'pi pi-spin pi-spinner' : 'pi pi-check'" iconPos="right"></p-button>
          </div>
      </form>
    </p-card>
  </div>
</main>
