<main>
  <div class="flex flex-col m-auto gap-4  mt-6 w-[25rem]">
<!--    <form>-->
      <div class="font-medium block">
        <span class="mb-2">Username</span>
        <input pInputText class="w-[25rem] mb-4"  pAutoFocus="true" />
        <span class="mb-2">Email</span>
        <input pInputText type="email" class="w-[25rem] mb-10"  />


        <span class="mb-2">First Name (optional)</span>
        <input pInputText class="w-[25rem] mb-4"  pAutoFocus="true" />
        <span class="mb-2">Last Name (optional)</span>
        <input pInputText  class="w-[25rem] mb-10"  />

        <span class="mb-2">Password</span>
        <input pInputText type="password" class="w-[25rem] mb-4"  pAutoFocus="true" />
        <span class="mb-2">Confirm Password</span>
        <input pInputText type="password" class="w-[25rem] mb-4"  />

        <div class="flex justify-end">
          <p-button type="submit" label="Login"></p-button>
        </div>
      </div>
<!--    </form>-->

  </div>
</main>
