.rating-filter-wrapper {
  border: 1px solid var(--p-select-border-color);
  border-radius: var(--p-select-border-radius);
  background: var(--p-form-field-background);
}

::ng-deep .top-table-wrapper .p-button-label {
  color: var(--p-content-color);

  &:hover {
    color: var(--primary-color);
    transition: 0.2s;
  }
}
