<main>
  <div class="filter-wrapper grid grid-cols-12 m-auto w-5/6 max-w-screen-xl gap-4 bg-neutral-100 dark:bg-neutral-900 p-4 rounded-lg mt-6  justify-center">
    <div  class="col-span-1">
      <p>Filters:</p>
    </div>

    <div class="year-filter-wrapper col-span-3">
      <p-iftalabel class="w-full md:w-56">
        <p-datePicker
          [(ngModel)]="selectedYear"
          view="year"
          [minDate]="minYear"
          [maxDate]="maxYear"
          [showClear]="true"
          dateFormat="yy"
          (onSelect)="lib.filterByYear(selectedYear)"
          (onClear)="lib.removeDateFilter()"
        />
        <label for="dd-year">Year</label>
      </p-iftalabel>
    </div>

    <div class="genre-filter-wrapper col-span-3 m-auto">
      <p-iftalabel class="w-full md:w-56">
        <p-select [(ngModel)]="selectedGenre" inputId="dd-mediaType" [options]="genres" [showClear]="true" styleClass="w-full" (onChange)="lib.filterByGenre(selectedGenre)" (onClear)="lib.removeGenreFilter()" />
        <label for="dd-mediaType">Genre</label>
      </p-iftalabel>
    </div>

    <div class="rating-filter-wrapper col-span-3 grid grid-rows-2 grid-flow-col m-auto p-1">
      <div class="slider-top-wrapper col-span-2 flex ">
        <!--suppress CssUnresolvedCustomProperty -->
        <label class="w-[13rem] ml-1" style="color: var(--p-form-field-float-label-color);">Rating Range: <b>{{rangeValues[0].toPrecision(2)}}</b> - <b>{{rangeValues[1].toPrecision(2)}}</b></label>
      </div>
      <div class="col-span-2 flex">
        <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="0.0" [max]="10.0" step="0.1" styleClass="w-[8.5vw] mt-2 ml-3" />
      </div>
      <div class="row-span-2 self-center mr-1">
        <p-button icon="pi pi-filter" title="Update List" size="small" raised (onClick)="lib.filterByRating(rangeValues[0],rangeValues[1])"></p-button>
      </div>
    </div>

    <div class="clear-btn-wrapper col-span-2 m-auto">
      <p-button icon="pi pi-times" title="Clear Filters" (click)="lib.clearAllFilters()" rounded raised />
    </div>
  </div>

  <div class="top-table-wrapper flex content-center justify-center mt-64">

    <!--suppress TypeScriptValidateTypes -->
    <p-table [value]="libraryItems()" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="caption">
        <span class="text-xl font-bold">Top 100 {{titleText()}}</span>

      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Title</th>
          <th> </th>
          <th>Year</th>
          <th>{{selectedMediaType() === MediaType.Film ? 'Directors' : 'Creators'}}</th>
          <th>Genres</th>
          <th>Rating</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td><p-button [label]="item.title" [link]="true " (onClick)="navigate(item.id,item.title)"/></td>
          <td>
            <img
              [src]="item.image"
              [alt]="item.title"
              class="w-24 rounded"
            />
          </td>
          <td>{{ item.releaseDate | releaseYear}}</td>
          <td>
            @for (person of item.directors || item.creators; track person) {
              <p-button [label]="person" [link]="true" [routerLink]="['/pages/library/film/popular']"/>
            }
          </td>
          <td>{{ item.genres | genreNames }}</td>
          <td>{{ item.rating }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
