<main>
  <div class="filter-wrapper flex justify-center">
    <div class="flex bg-neutral-900 w-4/5 justify-center items-center p-4 rounded-lg gap-4 mt-10">
      <p>Filters:</p>
      <p-iftalabel class="w-full md:w-56">
        <p-select [(ngModel)]="selectedMediaType" inputId="dd-mediaType" [options]="mediaTypes"  styleClass="w-full" (onChange)="filterByMediaType(selectedMediaType)" />
        <label for="dd-mediaType">Media Type</label>
      </p-iftalabel>

      <p-iftalabel class="w-full md:w-56">
        <p-datePicker
          [(ngModel)]="selectedYear"
          view="year"
          [minDate]="minYear"
          [maxDate]="maxYear"
          dateFormat="yy"
          (onSelect)="filterByYear(selectedYear)"/>
        <label for="dd-year">Year</label>
      </p-iftalabel>
      <p-button icon="pi pi-times" (click)="clearFilter()"  rounded raised />
    </div>
  </div>
  <div class="top-table-wrapper flex content-center justify-center mt-64">
    <p-table [value]="topTitles()" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="caption">
        <span class="text-xl font-bold">Top 100 {{resultCriteria()}}</span>

      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Title</th>
          <th> </th>
          <th>Year</th>
          <th>Directors</th>
          <th>Genres</th>
          <th>Rating</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-film>
        <tr>
          <td>{{ film.title }}</td>
          <td>
            <img
              [src]="film.image"
              [alt]="film.title"
              class="w-24 rounded"
            />
          </td>
          <td>{{ film.year }}</td>
          <td>{{ film.directors}}</td>
          <td>{{ film.genres }}</td>
          <td>{{ film.rating}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
