<main>
  <div class="person-wrapper flex flex-col w-10/12 m-auto mt-6">
    <section class="main-details-wrapper grid grid-flow-col gap-x-4">
      <div class="image-wrapper row-span-6">
        <img alt="Picture of {{person().name}}" class="w-full" src="{{person().profile_path | posterUrl: 4}}" />
      </div>
      <div class="col-span-3 flex items-center">
        <h1 class="text-5xl">
          <b>{{person().name}}</b>
          <span class="text-surface-400" *ngIf="person().deathday">({{person().birthday | date: 'yyyy'}}-{{person().deathday | date: 'yyyy'}})</span>
        </h1>
      </div>
      <div class="col-span-3 flex items-center">
        <div class="col-span-3">
          <b>Biography:</b>
          <p>{{person().biography}}</p>
        </div>
      </div>
      <div class="col-span-3">
        <b>Credits:</b>
<!--        TODO: fix table data not appearing-->
        <p-table [value]="castCredits()" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template #header>
            <tr>
              <th>Year</th>
              <th>Title/th>
              <th>Role</th>
            </tr>
          </ng-template>
          <ng-template #body let-credit>
            <tr>
              <td>{{ (credit.release_date | date: 'yyyy') || '' }}</td>
              <td>{{ credit.title || credit.name || '' }}</td>
              <td>{{ credit.character || '' }}</td>
            </tr>
          </ng-template>
        </p-table>
<!--        @for (credit of person().combined_credits.cast; track credit) {-->
<!--          -->
<!--        }-->
      </div>
    </section>
  </div>
</main>
