<main>
  <div class="person-wrapper flex flex-col w-10/12 m-auto mt-6">
    <section class="main-details-wrapper grid grid-flow-col gap-x-4">
      <div class="image-wrapper row-span-4">
        <img alt="Picture of {{person().name}}" class="w-full min-w-64" src="{{person().profile_path | posterUrl: 4}}" />
        <div class=" text-lg min-h-[380px]">
          <h2>Details:</h2>
          <p>Known for: {{person().known_for_department}}</p>
          <p>Known credits: {{castCredits().length + crewCredits().length}}</p>
          <p>Gender: {{person().gender === 1 ? 'Female' : person().gender === 2 ? 'Male' : 'Not Specified'}}</p>
          <p>Birthplace: {{person().place_of_birth}}</p>
          <p>Birthday: {{person().birthday | date: 'longDate'}}</p>
          <!--        <p>IMDB link: {{person().external_ids?.imdb_id || ''}}</p>-->
        </div>
      </div>
      <div class="col-span-3 flex items-center">
        <h1 class="text-5xl">
          <b>{{person().name}}</b>
          <span class="text-surface-400" *ngIf="person().deathday">({{person().birthday | date: 'yyyy'}}-{{person().deathday | date: 'yyyy'}})</span>
        </h1>
      </div>
      <div class="col-span-3 flex items-center">
        <div class="col-span-3 text-xl min-h-[380px]">
          <h2>Biography:</h2>
          <p>{{person().biography}}</p>
        </div>
      </div>

      <div class="col-span-3 mb-4">
        <div class="mb-8">
          <h2>Credits:</h2>
        </div>
        <p-accordion value="0" [multiple]="true">
          <p-accordion-panel value="0">
            <p-accordion-header>Acting:</p-accordion-header>
            <p-accordion-content>
              <app-credits-table [departmentCredits]="castCredits()"></app-credits-table>
            </p-accordion-content>
          </p-accordion-panel>

          @for (departmentCredits of crewCredits(); track departmentCredits) {
            <p-divider styleClass="!mt-8 !mb-8"></p-divider>

            <p-accordion-panel [value]="$index + 1">
              <p-accordion-header>{{departmentCredits[0].department}}:</p-accordion-header>
              <p-accordion-content>
                <app-credits-table [departmentCredits]="departmentCredits"></app-credits-table>
              </p-accordion-content>
            </p-accordion-panel>
          }

        </p-accordion>
      </div>
    </section>
  </div>
</main>
