<main>
  <div class="person-wrapper flex flex-col w-10/12 m-auto mt-6">
    <section class="main-details-wrapper grid lg:grid-flow-col gap-x-4">
      <div class="image-wrapper row-span-4">
        <img alt="Picture of {{person().name}}" class="w-3/5 lg:w-full min-w-64" src="{{(person().profile_path | ImageUrlPipe: 4) || 'assets/placeholder-images/person-md.jpg'}}" />
        <app-details-panel
          [creditsCnt]="castCredits().length + crewCredits().length"
          [external_ids]="person().external_ids"
          [known_for_department]="person().known_for_department || ''"
          [gender]="person().gender || 4"
          [place_of_birth]="person().place_of_birth || ''"
          [birthday]="person().birthday || ''"
        ></app-details-panel>
      </div>
      <div class="col-span-3 flex items-center">
        <h1 class="text-5xl">
          <b>{{person().name}}</b>
          <span class="text-surface-400" *ngIf="person().deathday">({{person().birthday | date: 'yyyy'}}-{{person().deathday | date: 'yyyy'}})</span>
        </h1>
      </div>
      <div class="col-span-3 flex items-center">
        <div class="col-span-3 text-xl min-h-[380px]">
          <h2 i18n="@@person.biographyTitle">Biography:</h2>
          <p>{{person().biography}}</p>
        </div>
      </div>

      <div class="col-span-3 mb-4">
        <div class="mb-8">
          <h2 i18n="@@person.creditsTitle">Credits:</h2>
        </div>
        <p-accordion value="0" [multiple]="true">
          <p-accordion-panel value="0">
            <p-accordion-header i18n="@@person.actingHeader">Acting:</p-accordion-header>
            <p-accordion-content>
              <app-credits-table [departmentCredits]="castCredits()"></app-credits-table>
            </p-accordion-content>
          </p-accordion-panel>

          @for (departmentCredits of crewCredits(); track departmentCredits) {
            <p-divider styleClass="!mt-8 !mb-8"></p-divider>

            <p-accordion-panel [value]="$index + 1">
              <p-accordion-header i18n="@@person.departmentHeader">
                {departmentCredits[0].department, select,
                  Production {Production}
                  Directing {Directing}
                  Writing {Writing}
                  Creator {Creator}
                  other { {{departmentCredits[0].department}} }
                }:
              </p-accordion-header>
              <p-accordion-content>
                <app-credits-table [departmentCredits]="departmentCredits"></app-credits-table>
              </p-accordion-content>
            </p-accordion-panel>
          }

        </p-accordion>
      </div>
    </section>
  </div>
</main>
